language: python
python:
    - "2.6"
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
    - "nightly"
    - "pypy"
    - "pypy3.3-5.2-alpha1"
install:
    - pip install ansicolors
    - pip install textwrap3
    - python setup.py install 
script: py.test --assert=plain

